<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.SmartGuidance_App">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:usesCleartextTraffic= "true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.SmartGuidance_App.login_siginup.login"></activity>
        <activity android:name="com.example.SmartGuidance_App.login_siginup.loginOptions" />
        <activity android:name="com.example.SmartGuidance_App.welcom_pages.intro5" />
        <activity android:name="com.example.SmartGuidance_App.welcom_pages.intro4" />
        <activity android:name="com.example.SmartGuidance_App.welcom_pages.intro3" />
        <activity android:name="com.example.SmartGuidance_App.welcom_pages.intro2" />
        <activity android:name="com.example.SmartGuidance_App.welcom_pages.intro1" />
        <activity android:name="com.example.SmartGuidance_App.chat_classes.chat" />
        <activity android:name="com.example.SmartGuidance_App.chat_classes.MainActivity"/>
        <activity android:name="com.example.SmartGuidance_App.login_siginup.signupacivity" />
        <activity android:name="com.example.SmartGuidance_App.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>